.test-question-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.question-title {
	font-size: 36px;
	margin-bottom: 20px;
}

.test-question-item ul li {
	font-size: 18px;
	margin-top: 10px;
}

label {
	color: #000;
}

.header-title {
	font-size: 24px;
	margin-left: 20px;
}

.timer {
	position: absolute;
	top: 0px;
	right: 50vw;
	font-size: 18px;
}

h1 {
	font-size: 36px;
}

.btn {
	margin-top: 20px;
	background-color: #ff5353;
}

.btn:hover {
	background-color: #ff6868;
}

.btn:focus {
	background-color: #ff6868;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
  border: 2px solid #ff5353;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
  background-color: #ff5353;
}
