<header> 
    <nav>
        <div class="nav-tit-client">Тест</div>
        <div class="timer">00:00</div> 
        <language></language>
    </nav>
</header>
<div class="test-question-container">
    <div class="test-question-item">
        <div class="question-title">1.	Jak się Pan nazywa?</div>
        <ul>
            <li><input class="with-gap" name="question" type="radio" id="test1"><label for="test1">Pan nazywa się Kowalski.</label></li>
            <li><input class="with-gap" name="question" type="radio" id="test2"><label for="test2">Nazywa się Kowalski.</label></li>
            <li><input class="with-gap" name="question" type="radio" id="test3"><label for="test3">Nazywam się Kowalski.</label></li>
        </ul>
        <button class="waves-effect waves-light btn" type="submit" name="action">Відповісти</button>
    </div>
</div>