<header>
    <nav>
        <div class="nav-tit-client">Регистрация</div>
        <language></language>
    </nav>
</header>
<div class="registraion-container">
    <div class="registration-item">
        <form>
            <input type="text" placeholder="Им'я: ">
            <input type="text" placeholder="Телефон: ">
            <div>
                <input type="checkbox" class="filled-in" id="learnPolish">
                <label for="learnPolish">Вже вивчав польську</label>
            </div>
            <button class="waves-effect waves-light btn">Пройти тест</button>
        </form>
    </div>
</div>
